# Testing and development dependencies
pip
numpy
ruff
pre_commit
pylint
pytest
pytest-cov
bump-my-version
# Documentation and examples
matplotlib
sphinx
numpydoc
shibuya>=2025.9.25
sphinx-copybutton
sphinx-design>=0.6.1
sphinx-iconify>=0.2.1
sphinx-autodoc-typehints
sphinx-autobuild
sphinx-contributors>=0.2.7
myst-parser
rainfallqc

